/postings.txt
/dictionary.txt
/full_list.txt
/data/reuters/training/
/data/reuters/stopwords
/data/postings_temp
/.idea/CS3245_Homework-2.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
